.grid {
    display: grid;
    grid-template-rows: 50px 300px 75px;
    grid-template-columns: 66% 33%;
    grid-gap: 1%;
}

.grid li:nth-child(1) {
    grid-column: auto / span 2;    
}

.grid li:nth-child(4) {
    grid-column: auto / span 2;
}