.grid {
    display: grid;
    width: 540px;
    grid-gap: 10px;
    grid-template-rows: 100px 100px;
    /*part 1*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /*part 2*/
    /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
*/

    /*
    
    e3 

    part 1: 2 columns: auto fill uses the max value of 200px to add 2 columns and max with is 500px

    part 2: 4 columns uses the minium value to get 4 cant fit a 5th due to gutter
    but will use the 1fr to make the columns 500 - 30 470 / 4 = 117.5

    part 3: no because of the 1fr

    part 4: auto-fill is small cause it can fit in 5 100px columns 
    */
}